# Database (PostgreSQL)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=admin
DATABASE_NAME=suenos-dev

# Redis (cache + colas BullMQ)
REDIS_HOST=localhost
REDIS_PORT=6379

# MinIO (almacenamiento S3-compatible para videos)
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=suenos-videos

# JWT (autenticacion)
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=7d

# Stripe (fake para desarrollo)
STRIPE_SECRET_KEY=sk_test_51T3Md48A92ei3kJmusqjOwMMK3QqAM9IhAm9nki9mu5U4jaefjDWjZQwIn9hEkxjXN29KnvRXypIvQbMTwlo0yiA00C7viPxlF
STRIPE_WEBHOOK_SECRET=whsec_688ec301ba38c6117ba876808886f2b619b0b705f687a7ce081d243112cde36e

# URLs de la app
API_URL=http://localhost:3001
WEB_URL=http://localhost:3000
